# Created by http://gitignore.io

### Clojure ###
pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum
target/

### Lein
.lein-repl-history
.nrepl-port

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
